{% extends 'base.html' %}
{% block content %}
<div>
  <div class="section fp-section" id="section1">
    <div class="container">
      <div class="row" style="height:100%">
      <h2>Login</h2>
		<form method="post" class="p-2">
		  {% csrf_token %}
		  {{ form.as_p }}
		  <button type="submit">Log In</button>
		</form>
		<p class="small">Don't have an account yet? <a href="{% url 'register' %}"><br>Register here</a></p>
		<p class="small">Forgot your password? <a href="{% url 'forgot-password' %}" class="text-danger"><br>Reset Password</a></p>
    </div>
  </div>
</div>
{% endblock %}