{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="container my-4">
    <div class="row">
      <div class="col-md-12 d-flex align-items-center">
        <!-- Animal Name -->
        <h1 class="mb-0 mr-2">{{ case.animal }}</h1>
        
        <!-- Button -->
        <button class="btn mr-2 btn-sm btn-success" id="pickUp">Pick-up</button>
        <a href="{% url 'report' case.id %}" class="btn mr-2 btn-sm btn-warning">Relay</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <!-- Map -->
        <div id="map" class="map mb-3" style="width:100%"></div>

        <!-- Table -->
        <table class="table">
          <thead>
            <tr>
              <th>Status</th>
              <th>Date</th>
              <th>Contact</th>
              <th>Notes</th>
            </tr>
          </thead>
          <tbody>
            {% for c in case.log %}
            <tr>
              <td>{{ c.status }}</td>
              <td>{{ c.updated_on }}</td>
              <td>{{ c.name }}: {{ c.contact_number }}</td>
              <td>{{ c.message }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Bootstrap Modal -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true" data-toggle="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmationModalLabel">Confirm Pickup</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Please type your username into the field below to confirm.</p>
          <p><b>{{ user.username }}</b></p>
        </div>
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <div class="modal-footer">
            <form method="POST" action="{% url 'c' case.id %}" class="w-100">
                {% csrf_token %}
                <input type="text" name="name-confirm" class="form-control mb-2" id="name-confirm"> <!-- Added margin-bottom class for spacing -->
                <div class="text-left"> <!-- Added div for left-aligning the button -->
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
            </form>
        </div>
      </div>
    </div>
  </div>
<script>
  $(document).ready(function(){
    $('#pickUp').click(function(){
      $('#confirmationModal').modal('show');
    });
    // render page with modal open after form error
    {% if modal_show %}
      $('#confirmationModal').modal('show');
    {% endif %}
  });
</script>

<script>
  // There are multiple locations for hope for wildlife
  var hfwCoords0 = [-63.2624,44.6645]
  var hfwCoords1 = [-64.4172,45.0398]
  var hfwCoords2 = [-64.5838,44.2425]
  var hfwCoords3 = [-61.3736,45.6788]
  var animalCoords = {{ map_data.0.Coordinates|safe }}

  var map = tt.map({
      key: '3XAy6LmoYfriuyZF50VPlPAaqo7Pw5oG',
      container: 'map',
      zoom: 8,
      center: hfwCoords0,
  });

  var userLocation = null; // Store the user location
  var mapLoaded = false; // Flag to indicate if the map has loaded

  function createMarker(position, color, popupText) {
      var markerElement = document.createElement('div');
      markerElement.className = 'marker';
      var markerContentElement = document.createElement('div');
      markerContentElement.className = 'marker-content';
      markerContentElement.style.backgroundColor = color;
      markerElement.appendChild(markerContentElement);
      var popup = new tt.Popup({offset: 30}).setText(popupText);
      new tt.Marker({element: markerElement, anchor: 'bottom'})
          .setLngLat(position)
          .setPopup(popup)
          .addTo(map);
  };

  function createUserLocationMarker() {
    if (userLocation && mapLoaded) {
      createMarker(userLocation, "#000", "User");
    }
  }

  if ("geolocation" in navigator) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var latitude = position.coords.latitude;
      var longitude = position.coords.longitude;
      console.log(`Latitude: ${latitude}, Longitude: ${longitude}`);
      userLocation = [longitude, latitude];
      createUserLocationMarker(); // Attempt to create marker
    }, function(error) {
      console.error('Error obtaining location:', error.message);
    });
  } else {
    console.error('Geolocation is not supported by this browser.');
  }

  map.on('load', function() {
      mapLoaded = true; // Set the map loaded flag
      createUserLocationMarker(); // Attempt to create marker
      createMarker(hfwCoords0, "#00ff00", "Hope for Wildlife Seaforth");
      createMarker(hfwCoords1, "#00ff00", "Hope for Wildlife Wolfville");
      createMarker(hfwCoords2, "#00ff00", "Hope for Wildlife Middlewood");
      createMarker(hfwCoords3, "#00ff00", "Hope for Wildlife Lexington");
      createMarker(animalCoords, "#ff0000", "{{ map_data.0.Animal }}");
  });

</script>
{% endblock %}