{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}
{% block content %}
  <div class="container my-4">
    <div class="row mb-2" style="height: 100%">
      <div class="col-md-12">
        <!-- Animal Name -->
        <h1 class="mb-0 mr-2">{{ case.animal }}</h1>
        
        <!-- Buttons -->
        <button class="btn mr-2 mt-1 btn-sm btn-info" id="calling">Calling</button>
        <button class="btn mr-2 mt-1 btn-sm btn-primary" id="pickUp">Picking-up</button>
        <a href="{% url 'report' case.id %}" class="btn mr-2 mt-1 btn-sm btn-secondary">Relay</a>
        <button class="btn mr-2 mt-1 btn-sm btn-warning" id="inTransit">In-transit</button>
        <button class="btn mr-2 mt-1 btn-sm btn-success" id="delivered">Delivered</button>
        <button class="btn mr-2 mt-1 btn-sm btn-danger" id="cancel">Cancel</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <!-- Map -->
        <div id="map" class="map mb-3" style="height: 50vh;"></div>

        <div class="container-fluid mt-3 h-100">
          {% for c in case.log reversed %}
          <div class="card mb-3">
            <div class="card-header">
              <strong>Status:</strong> {{ c.status }} | <strong>Date:</strong> {{ c.updated_on|format_iso_datetime }}
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ c.name }}: {{ c.contact_number }}</h5>
              <p class="card-text">{{ c.message }}</p>
            </div>
          </div>
          {% endfor %}
        </div>

      </div>
    </div>
  </div>

  <!-- Bootstrap Modal -->
  <div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true" data-toggle="modal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="statusTitle"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p id='statusMessage'></p>
        </div>
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        {% endif %}
        <div class="modal-footer">
            <form method="POST" action="{% url 'c' case.id %}" class="w-100">
                {% csrf_token %}
                <textarea id="note" name="note" class="w-100 form-control mb-2" placeholder="Note"></textarea>
                <!-- <input type="text" placeholder="Email" class="form-control mb-2" id="name-confirm" name="name-confirm"> -->
                <div class="text-left"> <!-- Added div for left-aligning the button -->
                    <button type="submit" class="btn btn-primary">Confirm</button>
                </div>
                <input type="hidden" id="status" name="status" value="">
            </form>
        </div>
      </div>
    </div>
  </div>

<script>
  var map, directionsService, directionsRenderer;
  var userLocation = null; // Store the user location
  var animalCoordsArray = {{ map_data.0.Coordinates|safe }};
  var animalCoords = {
    lat: parseFloat(animalCoordsArray[0]),
    lng: parseFloat(animalCoordsArray[1])
  };

  var hfwLocations = [
    {coords: {lat: 44.6645, lng: -63.2624}, label: "Hope for Wildlife Seaforth"},
    {coords: {lat: 45.0398, lng: -64.4172}, label: "Hope for Wildlife Wolfville"},
    {coords: {lat: 44.2425, lng: -64.5838}, label: "Hope for Wildlife Middlewood"},
    {coords: {lat: 45.6788, lng: -61.3736}, label: "Hope for Wildlife Lexington"}
  ];

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 8,
      center: hfwLocations[0].coords
    });

    hfwLocations.forEach(function(location) {
      createMarker(location.coords, location.label);
    });

    // Parse and add animal data from Django
    var animalData = {{ map_data|safe }};
    if (Array.isArray(animalData) && animalData.length > 0) {
      animalData.forEach(function(animal) {
        if (animal.Coordinates && Array.isArray(animal.Coordinates)) {
          var animalPosition = {
            lat: animal.Coordinates[0],
            lng: animal.Coordinates[1]
          };
          createMarker(animalPosition, animal.Animal, "#ff0000");
        }
      });
    }

    directionsService = new google.maps.DirectionsService();
    directionsRenderer = new google.maps.DirectionsRenderer();
    directionsRenderer.setMap(map);

    // Attempt to get user's current location
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var userLocation = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        createMarker(userLocation, "You", "#000000", true); // Create marker for user location
        map.setCenter(userLocation);

      // Assuming animalCoords and hfwLocations are already defined
      var nearestHFWLocation = findNearestHFWLocation(userLocation);
      displayRoute(userLocation, animalCoords, nearestHFWLocation);

      }, function(error) {
        console.error('Error obtaining location:', error.message);
      });
    } else {
      console.error('Geolocation is not supported by this browser.');
    }
  }

  function createMarker(coords, label, color = "#00ff00", isUser = false) {
    var marker = new google.maps.Marker({
      position: coords,
      map: map,
      title: label,
      icon: {
        path: google.maps.SymbolPath.CIRCLE,
        scale: isUser ? 10 : 8, // Slightly larger if it's the user marker
        fillColor: color,
        fillOpacity: 0.8,
        strokeWeight: 0
      }
    });

    var infowindow = new google.maps.InfoWindow({
      content: label
    });

    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }

  function findNearestHFWLocation(userLocation) {
    var minDistance = Number.MAX_VALUE;
    var nearestLocation = null;

    hfwLocations.forEach(function(location) {
      var distance = haversineDistance(userLocation, location.coords);
      if (distance < minDistance) {
        minDistance = distance;
        nearestLocation = location.coords;
      }
    });

    return nearestLocation;
  }

  function haversineDistance(coords1, coords2) {
    var R = 6371; // Earth’s radius (km)
    var dLat = deg2rad(coords2.lat - coords1.lat);
    var dLng = deg2rad(coords2.lng - coords1.lng);
    var a =
      Math.sin(dLat/2) * Math.sin(dLat/2) +
      Math.cos(deg2rad(coords1.lat)) * Math.cos(deg2rad(coords2.lat)) * 
      Math.sin(dLng/2) * Math.sin(dLng/2)
      ;
    var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));
    var distance = R * c; // Distance in km
    return distance;
  }

  function deg2rad(deg) {
    return deg * (Math.PI/180)
  }

  function displayRoute(start, animalCoords, end) {
    directionsService.route({
      origin: start,
      destination: end,
      waypoints: [{ location: animalCoords }],
      travelMode: google.maps.TravelMode.DRIVING
    }, function(response, status) {
      if (status === 'OK') {
        directionsRenderer.setDirections(response);
      } else {
        window.alert('Directions request failed due to ' + status);
      }
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap"></script>

<script>
  $(document).ready(function(){
    function setModalContent(statusText) {
      $("#status").val(statusText);
      $('#statusTitle').text(statusText + " Confirmation");
      $('#statusMessage').text("Before confirming " + statusText + ", add a short note below.");
    }

    $('#pickUp,#inTransit,#delivered,#calling,#cancel').click(function(){
      var status = $(this).attr('id');
      var statusText = "";
      if (status === 'pickUp') {
        statusText = "Pick Up";
      } else if (status === 'inTransit') {
        statusText = "In Transit";
      } else if (status === 'delivered') {
        statusText = "Delivered";
      } else if (status === 'cancel') {
        statusText = "Cancel";
      } else if (status === 'calling') {
        statusText = "Calling";
      }
      setModalContent(statusText);
      $('#confirmationModal').modal('show');
    });

    {% if modal_show %}
      var lastStatus = "{{ last_status }}";  // Use the variable passed from Django
      if (lastStatus) {
        setModalContent(lastStatus);
      }
      $('#confirmationModal').modal('show');
    {% endif %}
  });
</script>




{% endblock %}
