{% extends 'base.html' %}
{% block content %}
<div>
  <div class="section fp-section" id="section1">
    <div class="container">
      <div class="row" style="height:100%">
      <h2>Reset Password</h2>
      <form method="POST" class="w-100">
          {% csrf_token %}
          <p>Please enter the phone number you used during registration.</p>
          <input type="text" placeholder="(000) 000-0000" class="form-control mb-2" id="mobile_phone" name="mobile_phone">
          <div class="text-left"> <!-- Added div for left-aligning the button -->
              <button type="submit" class="btn btn-danger">Reset</button>
          </div>
      </form>
    </div>
  </div>
</div>
</script>

<!-- Phone number format validation -->
<script src="https://cdn.jsdelivr.net/npm/libphonenumber-js@1/bundle/libphonenumber-min.js"></script>
<script>
const DEFAULT_COUNTRY = 'CA';
const formatter = new libphonenumber.AsYouType(DEFAULT_COUNTRY);
const phoneInput = document.getElementById('mobile_phone');

phoneInput.addEventListener('input', function (event) {
  formatter.reset();
  const newValue = formatter.input(phoneInput.value);
  phoneInput.value = newValue;
  
  // Check if the phone number is valid
  if (!libphonenumber.isValidPhoneNumber(newValue, DEFAULT_COUNTRY)) {
    phoneInput.setCustomValidity('Invalid phone number');
    phoneInput.classList.add('invalid-input'); // Add class to make the input field red
  } else {
    phoneInput.setCustomValidity('');
    phoneInput.classList.remove('invalid-input'); // Remove class if the phone number becomes valid
  }
});
</script>
{% endblock %}