{% extends "base.html" %}

{% block content %}
<!-- Welcome Section -->
<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Hope for Wildlife's Dispatch Service</h1>
        <p class="lead">Helping injured animals and supporting our wildlife.</p>
        <hr class="my-4">
        <p>Find an injured animal? Report it here and help us make a difference.</p>
        <a class="btn btn-primary btn-lg" href="{% url 'report' %}" role="button">Report an Animal</a>
    </div>
</div>
{% endblock %}
