{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid">
	<div class="row">
		<div class="col-3">
      <!-- TODO: Use the last update, not the first -->
			{% for case in cases %}
			<div class="case-block">
				<div class="case-content">
          <span class="small">#{{ case.id }}</span>
					<p id="case-title">{{ case.animal }}: {{ case.log.0.status }}</p>
					<p>{% firstof case.0.updated_on case.created_on %}</p>
					<p>{{ case.0.log.messages_sent }}</p>
				</div>
				<div class="case-buttons">
					<a href="{% url 'c' case.id %}" class="btn btn-sm btn-primary mb-2">Details</a>
					<button class="btn btn-sm btn-secondary" onclick="goto({{ case.log.0.coordinates.0 }},{{ case.log.0.coordinates.1 }});">Focus</button>
				</div>
			</div>
			{% endfor %}
		</div>
		<div class="col">
			<div id="map"></div>
		</div>
	</div>
</div>

<script>
var map;

function initMap() {
  	map = new google.maps.Map(document.getElementById('map'), {
	   zoom: 8,
	   center: {lat: 44.6645, lng: -63.2624} // Adjust as needed
    });

  // Add case data
  var data = {{ map_data|safe }};
  data.forEach(item => {
    console.log(item);
    var coords = item.coordinates.map(Number); // Convert coordinates to numbers

    // Determine the color based on the status
    var color = item.status === 'Calling' ? '#17a2b8' :
                (item.status === 'Pick Up' ? '#007bff' : 
                (item.status === 'Relay' ? '#6c757d' : 
                (item.status === 'inTransit' ? '#ffc107' :  
                (item.status === 'Delivery' ? '#28a745' : 
                (item.status === 'Cancel' ? '#dc3545' :  
                (item.status === 'Reported' ? '#dc3545' :
                '#fff')))))); 

    // Create a marker using the createMarker function
    createMarker({lat: coords[0], lng: coords[1]}, "#"+item.id+"\n"+item.Animals, color);
  });

  // Add user data 
  var user_data = {{ user_data|safe }};
  console.log(user_data)
  user_data.forEach(item => {
    try {
      var coords = item.coordinates[0].split(',').map(Number) //split first
      createMarker({lat: coords[0], lng: coords[1]}, item.name+"<br>"+item.phone, "#000000")
    } catch (exception) {
      console.error('Error processing user data item:', item, exception);
    }
  });
}

function createMarker(coords, label, color = "#00ff00", isUser = false) {
  var marker = new google.maps.Marker({
    position: coords,
    map: map,
    title: label,
    icon: {
      path: google.maps.SymbolPath.CIRCLE,
      scale: isUser ? 10 : 8,
      fillColor: color,
      fillOpacity: 0.8,
      strokeWeight: 0
    }
  });

  var infowindow = new google.maps.InfoWindow({
    content: label
  });

  marker.addListener('click', function() {
    infowindow.open(map, marker);
  });
}

function goto(lat, lng) {
  var coords = {
    lat: lat,
    lng: lng
  };
  map.setCenter(coords);
  map.setZoom(14); // Adjust as needed
}

// Load the Google Maps API with the callback to initMap
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&callback=initMap"></script>

{% endblock %}
