{% extends 'base.html' %}
{% block content %}
<body>
	<div class="container mt-4">
	    <h2>Register</h2>
	    <form method="POST">
	        {% csrf_token %}
	        {% if form.errors %}
	            <div class="alert alert-danger">
	                <p>Please correct the following errors:</p>
	                {{ form.errors }}
	            </div>
	        {% endif %}
	        <div class="row" style="height:100%">
	            <div class="col-md-6 col-sm-12">
	                {% for field in form %}
	                    {% if field.name == "travel_distance" %}
	                        <!-- Custom rendering for travel_distance field -->
	                        <div class="input-group mb-3">
	                            <div class="input-group-prepend">
	                                <span class="input-group-text" id="travel-distance-addon" style="font-size: small;line-height: 0.85;">Willing<br>to travel</span>
	                            </div>
	                            {{ field }}
	                        </div>
	                    {% elif field.name == "interests" %}
	                        <div class="input-group mb-3">
	                            <div class="input-group-prepend">
	                                <span class="input-group-text" id="travel-distance-addon" style="font-size: small;line-height: 0.85;">Areas<br>or interest</span>
	                            </div>
	                            {{ field }}
	                        </div>
	                    {% else %}
	                        <!-- Default rendering for all other fields -->
	                        <div class="form-group">
	                            {{ field }}
	                        </div>
	                    {% endif %}
	                {% endfor %}
	            </div>
	        </div>
	        <button type="submit" class="btn btn-primary">Register</button>
	    </form>
	</div>
	<!-- Include Google Maps Places API -->
	<script src="https://maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_API_KEY }}&libraries=places"></script>
	<script>
		function initAutocomplete() {
			// Initialize Google Places Autocomplete
			var autocomplete = new google.maps.places.Autocomplete(
				document.getElementById('address-input'), {types: ['geocode']}
			);

			autocomplete.addListener('place_changed', function() {
				var place = autocomplete.getPlace();
				if (!place.geometry) {
					// User entered the name of a Place that was not suggested and
					// pressed the Enter key, or the Place Details request failed.
					window.alert("No details available for input: '" + place.name + "'");
					return;
				}
			});
		}

		google.maps.event.addDomListener(window, 'load', initAutocomplete);
	</script>

	<!-- Phone number format validation -->
	<script src="https://cdn.jsdelivr.net/npm/libphonenumber-js@1/bundle/libphonenumber-min.js"></script>
	<script>
	const DEFAULT_COUNTRY = 'CA';
	const formatter = new libphonenumber.AsYouType(DEFAULT_COUNTRY);
	const phoneInput = document.getElementById('mobile_phone');

	phoneInput.addEventListener('input', function (event) {
	  formatter.reset();
	  const newValue = formatter.input(phoneInput.value);
	  phoneInput.value = newValue;
	  
	  // Check if the phone number is valid
	  if (!libphonenumber.isValidPhoneNumber(newValue, DEFAULT_COUNTRY)) {
	    phoneInput.setCustomValidity('Invalid phone number');
	    phoneInput.classList.add('invalid-input'); // Add class to make the input field red
	  } else {
	    phoneInput.setCustomValidity('');
	    phoneInput.classList.remove('invalid-input'); // Remove class if the phone number becomes valid
	  }
	});
	</script>

</body>
{% endblock %}