{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
        </form>
    </div>

	<!-- Phone number format validation -->
	<script src="https://cdn.jsdelivr.net/npm/libphonenumber-js@1/bundle/libphonenumber-min.js"></script>
	<script>
	const DEFAULT_COUNTRY = 'CA'
	const formatter = new libphonenumber.AsYouType(DEFAULT_COUNTRY)
	const phoneInput = document.getElementById('mobile_phone')
	phoneInput.addEventListener('input', function (event) {
	  formatter.reset()
	  const newValue = formatter.input(phoneInput.value)
	  phoneInput.value = newValue
	  if (!libphonenumber.isValidPhoneNumber(newValue, DEFAULT_COUNTRY)) {
	    phoneInput.setCustomValidity('Invalid phone number')
	  } else {
	    phoneInput.setCustomValidity('')
	  }
	})
	</script>
</body>
{% endblock %}