{% extends 'base.html' %}
{% block content %}
<body>
    <div class="container mt-4">
        <h2>Register</h2>
        <form method="post">
            {% csrf_token %}
            <div class="row" style="height:100%">
                <div class="col-md-6 col-sm-12">
                	{% for field in form %}
                    <div class="form-group">
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>

	<!-- Phone number format validation -->
	<script src="https://cdn.jsdelivr.net/npm/libphonenumber-js@1/bundle/libphonenumber-min.js"></script>
	<script>
	const DEFAULT_COUNTRY = 'CA'
	const formatter = new libphonenumber.AsYouType(DEFAULT_COUNTRY)
	const phoneInput = document.getElementById('mobile_phone')
	phoneInput.addEventListener('input', function (event) {
	  formatter.reset()
	  const newValue = formatter.input(phoneInput.value)
	  phoneInput.value = newValue
	  if (!libphonenumber.isValidPhoneNumber(newValue, DEFAULT_COUNTRY)) {
	    phoneInput.setCustomValidity('Invalid phone number')
	  } else {
	    phoneInput.setCustomValidity('')
	  }
	})
	</script>
</body>
{% endblock %}