{% extends 'base.html' %}
{% block content %}
<div class="section fp-section" id="section1">
	<div class="container">
		<div class="row" style="height:100%">
			<h2>Set New Password</h2>
			<!-- Display messages -->
			{% if messages %}
				<div>
					{% for message in messages %}
						<div{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message }}</div>
					{% endfor %}
				</div>
			{% endif %}
			{% if form.errors %}
			<div class="alert alert-danger" role="alert">
				Please correct the following errors:
				{% for field in form %}
					{% for error in field.errors %}
						<div>{{ field.label }}: {{ error }}</div>
					{% endfor %}
				{% endfor %}
			</div>
			{% endif %}

			<form method="POST" class="w-100">
				{% csrf_token %}
				<p>Please create a new password</p>
				<!-- Updated to password input fields -->
				<input type="password" placeholder="Password" class="form-control mb-2" id="password1" name="password1" required>
				<input type="password" placeholder="Confirm Password" class="form-control mb-2" id="password2" name="password2" required>
				<div class="text-left"> <!-- Left-aligning the button -->
					<button type="submit" class="btn btn-danger">Reset</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}
